*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
.container{
    width: 1000px;
    margin: auto;
    position: relative;
    box-shadow: 1px 1px 8px #000000c7;
}
.clearfix{
    clear: both;
    padding-top: 89px;
}
/*Menu*/
.nav-bar{
    position: fixed;
    padding: 44px 0px 44px 0px;
    background: white;
    width: 1000px;
    z-index: 99999;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
}
.menu a{
    text-decoration: none;
    color: black;
}
.menu ul{transition: 4s}
.menu ul li{display: inline;font-size: 28px;font-family: ÃƒÂ¥Ã‚Â¾Ã‚Â®ÃƒÂ¨Ã‚Â»Ã…Â¸ÃƒÂ¦Ã‚Â­Ã‚Â£ÃƒÂ©Ã‚Â»Ã¢â‚¬ËœÃƒÂ©Ã‚Â«Ã¢â‚¬Â, "Microsoft JhengHei", sans-serif;margin: 10px;}
.menu ul li:hover{cursor: pointer;color: #F462A7 !important}
.logo{
    float: left;
    font-size: 51px;
    margin-left: 32px;
}
.collspan-btn{display: none}
.float-right{
    float: right;
}
.collspan-btn{
    margin-top: 12px;
    margin-right: 8px;
    height: 35px;
    width: 35px;
    position: relative;
    zoom: 3;
    background: none;
    border: none;
    display: none;
}
.collspan-btn span{
    height: 2px;
    width: 100%;
    background: #444;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.2s ease;
}
.collspan-btn span:nth-child(1) {
    top: 0;
}
.collspan-btn span:nth-child(2) {
    top: 15px;
}
.collspan-btn span:nth-child(3) {
    top: 30px;
}
.collspan-btn.open span:nth-child(1) {
    transform: translate(0,15px) rotate(-45deg);
}
.collspan-btn.open span:nth-child(2) {
    opacity: 0;
}
.collspan-btn.open span:nth-child(3) {
    transform: translate(0,-15px) rotate(45deg);
}
@media screen and (max-width: 600px){
    .collspan-btn{display: block;position: absolute;top: 0;right: 0;}
    .menu ul li{display: block;}
    #dropmenu {display: none;clear: both;float: none;/* margin-left: 28px; */padding: 32px;}

}

/*Header*/
.head{
    background: url("Image/head.jpg");
    height: 1858px;
}

.have-btn-1{
    background: url("Image/have-button-01.jpg");
    height: 1468px;
}
.big-btn{
    background: none;
    border: none;
    margin: auto;
    width: 100%;
    margin-top: 850px;
}
.a-animation{
    transition: box-shadow .3s;
    transform-origin: center
}
.zoom{cursor: pointer}
.zoom:hover{
    width: 99%;
    transition: 0.5s;
}
.content-1{
    background: url("Image/content-1.jpg");
    height: 1033px;
}
.content-2{
    background: url("Image/content-2.jpg");
    height: 2609px;
}
.content-3{
    background: url("Image/content-3.jpg");
    height: 838px;
}
.have-btn-2{
    background: url("Image/have-button-02.jpg");
    height: 1112px;
}
.content-4{
    background: url("Image/content-4.jpg");
    height: 1423px;
}
.content-5{
    background: url("Image/content-5.jpg");
    height: 1075px;
}
/*Best 1*/
.best-1{
    background: url("Image/best-1.jpg");
    height: 927px;
}
/*Best 2*/
.best-2{
    background: url("Image/best-2.jpg");
    height: 1182px;
}
/*Best 3*/
.best-3{
    background: url("Image/best-3.jpg");
    height: 3491px;
}
/*Use , Q&A*/
.use{
    background: url("Image/use.jpg");
    height: 1533px;
}
.q-a{
    background: url("Image/q&a.jpg");
    height: 1567px;
}
/*Product*/
.big-product{
    background: url("Image/center-product.jpg");
    height: 1112px;
}
.two-product{
    background: url("Image/two-product.jpg");
    height: 1037px;
    display: flex;
}
.smaill-btn{

    border: none;

    background: none;

    margin-top: 835px;

    margin-left: 17px;
}
.left-product{
    width: 50%;
    text-align: center;
}
.right-product{
    width: 50%;
}