*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
.container{
    width: 1000px;
    margin: auto;

}
.head{
    background: url("Image/head.jpg");
    height: 1858px;
}
.have-btn-1{
    background: url("Image/have-button-01.jpg");
    height: 1468px;
}
.big-btn{
    background: none;
    border: none;
    margin: auto;
    width: 100%;
    margin-top: 850px;
}
.a-animation{
    transition: box-shadow .3s;
    transform-origin: center
}
.zoom{cursor: pointer}
.zoom:hover{
    width: 99%;
    transition: 0.5s;
}
.content-1{
    background: url("Image/content-1.jpg");
    height: 1033px;
}
.content-2{
    background: url("Image/content-2.jpg");
    height: 2609px;
}
.content-3{
    background: url("Image/content-3.jpg");
    height: 838px;
}
.have-btn-2{
    background: url("Image/have-button-02.jpg");
    height: 1112px;
}
.content-4{
    background: url("Image/content-4.jpg");
    height: 1423px;
}
.content-5{
    background: url("Image/content-5.jpg");
    height: 1075px;
}
/*Best 1*/
.best-1{
    background: url("Image/best-1.jpg");
    height: 927px;
}
/*Best 2*/
.best-2{
    background: url("Image/best-2.jpg");
    height: 1182px;
}
/*Best 3*/
.best-3{
    background: url("Image/best-3.jpg");
    height: 3491px;
}
/*Use , Q&A*/
.use{
    background: url("Image/use.jpg");
    height: 1533px;
}
.q-a{
    background: url("Image/q&a.jpg");
    height: 1567px;
}
/*Product*/
.big-product{
    background: url("Image/center-product.jpg");
    height: 1112px;
}
.two-product{
    background: url("Image/two-product.jpg");
    height: 1037px;
    display: flex;
}
.smaill-btn{

    border: none;

    background: none;

    margin-top: 835px;

    margin-left: 17px;
}
.left-product{
    width: 50%;
    text-align: center;
}
.right-product{
    width: 50%;
}